<!DOCTYPE html>
<html>
<head>
  <title>GradTracker</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuxOKovG-8ueM3rJvF4Lt1K6mXPN78HLE">
  </script>
  <%= javascript_include_tag 'application' %>
  <%= google_webfonts_init({google: ['Open Sans']}) %>
</head>
<body>
  <%= render partial: 'welcome/nav' %>
  <%= yield %>
</body>
</html>
